/*Mi Nombre*/
.animated-name{
display: flex;
align-items: center;
justify-content: center;
font-size: 50px;
font-family: Georgia, 'Times New Roman', Times, serif;}
.animated-name .letter{
    transition: 0.4s;
    transform: translateX(0);
    cursor: grab;
    color: green;}
.animated-name .letter:hover{
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(120deg,hsl(19,90%,52%), hsl(56,100%,50%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}
.animated-name .name {
    margin-right: 20px;}
/*----------------------------------------------------------------*/